*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    list-style: none;
}
html{
    scroll-behavior: smooth;
}
body{
    
    background-color: rgb(247, 135, 247);
   
}
header{
 z-index: 90000;
background-color: rgb(71, 7, 105);
 width: 100%;
 height: 5rem;
 position: fixed;
 top: 0;
 left: 0;
 transition: 0.4s;
}
header .logo{
    width: 4.5rem;
   
}
.container{
max-width: 1280px;
margin: auto;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu-desktop{
    width: 100%;
    text-align: center;
 
}
.menu-mobile{
    display: none;   
}

li{
   
    display: inline-block; 
    margin: auto 2rem;
    transition: ease .5s;

    &:hover{
        transform: scale(1.2,1.1);
    }
}
a{
    font-size: 1.5rem;
    color: rgb(255, 252, 252);
    text-shadow: 0px 3px 1px rgb(41, 2, 47);
    transition: 0.5s;
    &:hover{
        color: rgb(248, 11, 252);
        text-shadow: 1px 0px 2px rgb(244, 240, 244);
    }
}
.btn-abrir-menu{
    display: none;
}
/*-------------------------------------------------------baner-top-----------------------------------------------*/
.baner-top{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 10px black;

    height: 90vh;
    margin-top: 5rem;
    background: url('../img/capa-img/bol-3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    & h1{
        color: rgb(238, 229, 238);
        text-shadow: 2px 1px 3px black;
        font-size: 5rem;
        margin: 2rem 0;
    }
    & .btn-contato{
        cursor: pointer;
        border-radius: 10px;
        font-size: 2rem;
        padding: 8px;
        color: white;
        background-color: rgb(198, 43, 226);
        border:3px solid rgba(243, 204, 235, 0.492);
        transition: all ease 0.5s;

        &.btn-contato:hover {
            
            transform: scale(1.1);
            color: blueviolet;
            box-shadow: 1px 1px 8px rgb(216, 155, 227);
            background-color: rgb(226, 112, 247);
        }
    }

}
/*--------------------------------------------------------------produtos-----------------------------------------*/
.nossos-produtos{
   
    & h1{
        color: blueviolet;
        font-size: 3rem;
        margin: 3rem auto;
        text-align: center;
        text-shadow: 2px 1px 5px rgba(0, 0, 0, 0.408);
      
        &::after{
            content: '';
            width: 50%;
            height: 3px;
            background-color:white;
            display: block;
            margin: auto;
        }
    }
}

.produtos-cads{  
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;  
    flex-wrap: wrap;
   
& .cards{
     display: flex;
    flex-direction: column;
   width: 30%;
    background-color: rgb(172, 10, 166);
    border-radius: 2rem 2rem 0;
    border: 2px solid white;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.495);
   
&.cards img{
    width: 100%;
    border-radius: 2rem 2rem 0rem 0rem;
}
& .text-card{
    text-align: center;
    margin-top: 1rem;
    font-size: 1.5rem;
    color: white;
}
& .card-valor{
   margin: 10px;
    text-align: center;
    color: rgb(161, 227, 213);
}
/*-----------------botao ver mais----------------*/
& .btn-mais-detalhes{
    margin:auto 5px;
    margin-bottom: 1rem;
    border: none;
    border-radius: 5px;
    background-color: rgb(221, 173, 252);

    & a{
        font-size: 1.2rem;
        color: rgb(139, 17, 252);
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.537);
    }
}

}
}
/*cardes escondidos*/

.cards-4,.cards-5,.cards-6{
    display: none;
   
}

.btn-ver-mais{
    display: block;
    margin: 2rem auto;
    cursor: pointer;
    border-radius: 10px;
    font-size: 2rem;
    padding: 8px;
    color: white;
    background-color: rgb(221, 42, 252);
    border:3px solid rgba(249, 245, 248, 0.871);
    box-shadow: 1px 2px 4px black;
    transition: all ease 0.5s;

    &:hover{
        transform: scale(1.1 ,1);
        color: blueviolet;
        box-shadow: 1px 1px 8px rgb(216, 155, 227);
        background-color: rgb(226, 112, 247);
    }
}
/*----------------------------------------section converçao------------------------------------*/

.conversao-container{
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(219, 1, 253);
   
    
    & .text-covercao{
    & h1{
        font-size: 3rem;
        text-shadow: 2px 1px 5px black;
        color: rgb(239, 205, 242);
    }
    & p{
        font-size: 1.5rem;
        text-shadow: 2px 1px 3px black;
        color: rgb(238, 228, 239);
    }
    }

    & .btn-convercao{
            display: block;
            margin: 1rem auto;
            cursor: pointer;
            border-radius: 10px;
            font-size: 2rem;
            padding: 8px;
            color: white;
            background-color: rgb(221, 42, 252);
            border:3px solid rgba(249, 245, 248, 0.871);
            transition: all ease 0.5s;
            box-shadow: 1px 2px 4px black;
            &:hover{
                
                transform: scale(1.1);
                color: blueviolet;
                box-shadow: 1px 1px 8px rgb(216, 155, 227);
                background-color: rgb(226, 112, 247);
                box-shadow: 0px 1px 10px rgb(243, 242, 242);
            }
    }
}

/*--------------------------------------sobre___nos-----------------------------------------*/
.section-sobre{
    
    width: 100%;
    padding: 3rem 0rem 5rem 0rem;

    background: url('../img/capa-img/bol-blur.jpg');
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    & h1{
        font-size: 3rem;
        text-align: center;
        margin-bottom: 2rem ;
        color: rgb(193, 18, 196);
        text-shadow:2px 1px 3px rgba(0, 0, 0, 0.455);
  
        &::after{
            content: '';
            width: 70%;
            height: 2px;
            margin: auto;
            display: block;
            background-color: rgb(237, 227, 227);
        }
  }
    & .img-sobre{
        margin-bottom: 1rem;
        width: 15rem;
        border-radius: 50%;
        border: 2px solid white;
        background-color:  rgba(231, 180, 240, 0.762);
        
    }
 }
    & .sobre-text{
        margin-top: 0;
        height: 80%;
        background-color: rgba(231, 180, 240, 0.762);
        width: 80%;
        color: rgb(0, 0, 0);
        padding: 2rem;
        border-radius: 0.5rem  5rem  0.5rem 5rem;
        border: 2px solid white;
        & p{
            font-weight:500;
            font-size: 1.2rem;
            margin-top: 2rem;
            line-height: 2rem;
        }
    }
    .rede-sociais{
        width: 100%;
        margin-top: 1.5rem;
        text-align: center;

        & h2{
            font-size: 2rem;
            text-align: center;
            margin-bottom: 2rem ;
            color: rgb(193, 18, 196);
            text-shadow:2px 1px 3px rgba(0, 0, 0, 0.455);
        }
        & .container-redes{
            display: flex;
            justify-content: center;
            gap: 3rem;

            & button {
                width: 7rem;
                height: 7rem;
                border: 1px solid white;
                border-radius: 40%;
                background-color: rgba(239, 74, 200, 0.311);
                box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.467);
                transition:all  0.5s ;
               }
                .btn-redes-insta:hover{
                   
                    background: rgb(252,255,130);
                    background: linear-gradient(127deg, rgba(252,255,130,1) 15%, rgba(231,167,91,1) 42%, rgba(210,55,211,1) 62%);
                    & i{
                        color: white;
                    }
                }

                .btn-redes-face:hover{
                    background: rgb(195,240,241);
                    background: linear-gradient(127deg, rgba(195,240,241,1) 19%, rgba(80,123,218,1) 49%, rgba(55,76,211,1) 62%);
                    & i{
                        color: white;
                    }
                }


                & a{
                    font-size: 5rem;
                    display: block;
                }
            
        }

    }

    /*-------------------------------------------contato--------------------------------------*/
    .section-contato{
        width: 100%;
        padding-bottom: 1rem;
        background-color: rgb(211, 95, 247);
        box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.558);
        & h1{
            font-size: 3rem;
            text-align: center;
            padding-top: 3rem;
            color: rgb(193, 18, 196);
            text-shadow:2px 1px 3px rgba(0, 0, 0, 0.455); ;
      
            &::after{
                content: '';
                width: 70%;
                height: 2px;
                margin: auto;
                display: block;
                background-color: rgb(237, 227, 227);
            }
        }
    }
    .container-contato{
       
        height: auto;
        width: 95%;
        margin:5rem auto;
        padding: 1rem;
        background-color: rgba(0, 0, 0, 0);
        
        & .cards-contato{
           gap: 1rem;
            height: 100%;
            display: flex;
            justify-content: space-between;
 }
       
        & .atendentes-contato{
            height: 90%;
            width: 30%;
            display: flex;
            flex-direction: column;
            justify-content:space-around;
            align-items: center;
            border-radius:1rem;
            border: 2px solid white;
            background-color: rgb(228, 155, 228);
          

            & img{
                width: 150px;
               height: 150px;
                position: relative;
                top: -3rem;
                border-radius: 50%;
                
            } 
            & .text-contato{
                background-color: rgb(230, 217, 233);
                width: 98%;
                height: 65%;
                text-align: center;
                border-radius:10px;
                margin:0 auto ;
            }
            & h2{
                color:  rgb(193, 18, 196);
                margin: 0.5rem auto;
            }
            & p{
                color: rgb(113, 35, 185);
            }
            & a{
                width: 95%;
            }
            & button{
                margin: 0.4rem auto;
                cursor: pointer;
                border-radius: 10px;
                font-size: 1.4rem;
                padding: 8px;
                color: white;
                background-color: rgb(221, 42, 252);
                border:1px solid rgba(249, 245, 248, 0.871);
                transition: all ease 0.5s;
                box-shadow: 1px 2px 4px black;
              
                    &:hover{  
                    transform: scale(1.1);
                    color: blueviolet;
                    box-shadow: 1px 1px 8px rgb(216, 155, 227);
                    background-color: rgb(226, 112, 247);
                    box-shadow: 0px 1px 10px rgb(243, 242, 242);
                }
            }
        }
   }

    .container-email{
      
      
        & h3{
            color: rgb(249, 244, 255);
            font-size: 3rem;
            margin-bottom: 1rem;
            text-align: center;
            text-shadow: 2px 1px 5px rgba(0, 0, 0, 0.408);
        }
        & .form-email{
             width: 50%;
            display: flex;
            flex-direction: column;
            margin: auto;
            padding: 10px;
            border-radius: 10px;
            box-shadow: 0 1px 15px black ;
             background: linear-gradient(222deg, rgba(240,195,241,1) 5%, rgba(206,80,218,1) 26%, rgba(129,55,211,1) 85%);
           

            & label{
          
            margin-top: 2rem;
            padding: 5px;
            font-size: 1.5rem;
            font-weight: 700;
            color: rgb(245, 244, 245);
            text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.811); 

            }
            

            & input{
               padding: 0.8rem;
               border-radius: 10px;
               border: none;
              
            }
            & textarea{
             resize: none;
             font-size: 1rem;
             margin-bottom: 1rem;
             border-radius: 5px;
             min-height: 10rem;
             border: none;
             box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.341);
            }
            & button{
                padding: 5px;
                font-size: 1.5rem;
                font-weight: 500;
                border: none;
                border-radius: 10px;
                box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.341);
                text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.811);
                background-color: rgb(255, 133, 245);
                color: white;

            }
        }






    }