
body{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: rgb(237, 148, 245);
}
.informacao{
    width: 70%;
    margin: 2rem auto ;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: rgba(242, 203, 244, 0.684);
    box-shadow: 1px 0px 10px black;
   border-radius: 10px;

   & h1{
    color: blueviolet;
    font-size: 3rem;
    margin: 3rem auto;
    text-align: center;
    text-shadow: 2px 1px 5px rgba(0, 0, 0, 0.408);
  
   }
   & .text-info{
    & h2{
        color: rgb(69, 11, 124);
        font-size: 1.5rem;
        margin: 2rem auto;
        text-align: center;
        text-shadow: 2px 1px 5px rgba(0, 0, 0, 0.408)
    }
    & p{
        width: 70%;
        margin: auto;
        margin-bottom: 1rem;
        text-align: center;
        font-size: 1.3rem;
        line-height: 1.5rem;
    }
   }
}
.slider{
    border-radius: 10px;
    width: 600px;
    height: 400px;
    overflow: hidden;

    & .slides{
        display: flex;
        width:400%;
        height: 400px;

        & input{
            display: none;
        }
      
 #radio1:checked ~.first{
        margin-left: 0;
    }
 #radio2:checked ~.first{
        margin-left: -25%;
    }
 #radio3:checked ~.first{
        margin-left: -50%;
    }
 #radio4:checked ~.first{
        margin-left: -75%;
    }
        

    }
    & .slide{
        width: 25%;
        position: relative;
        transition: 1.5s;

        & img{
            width:100%;
            height: 400px;
        }
    }

    & .nave-manual{
        position: absolute;
        width: 600px;
        margin-top: -40px;
        display: flex;
        justify-content: center;
    

        & .manual-btn{
            border: 2px solid rgb(255, 175, 252);
            padding: 5px;
            border-radius: 10px;
            cursor: pointer;
            transition: 0.5s;
            
            &:not(:last-child){
                margin-right: 20px;
            }
            &:hover{
                background-color: blueviolet;
            }
        }
    }
 & .nave-auto{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 600px;
    margin-top:360px;
 }
 & .nave-auto div{
    border: 2px solid rgb(254, 251, 251);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;

    &:not(:last-child){
        margin-right: 20px;
    }
 }
 #radio1:checked ~ .nave-auto .auto-btn1{
    background-color: white;
 }
 #radio2:checked ~ .nave-auto .auto-btn2{
    background-color: white;
 }
 #radio3:checked ~ .nave-auto .auto-btn3{
    background-color: white;
 }
 #radio4:checked ~ .nave-auto .auto-btn4{
    background-color: white;
 }
}
